@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500&display=swap');
/*selectores de etiqueta*/
/*selector de grupo*/
h1,h2{
    color:rgb(48, 80, 80);
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
/*selector de grupo*/
h3,h4{
    color: rgb(48,80,80) ;
    font-family:'Oswald', sans-serif;
    font-weight: 400;
}
h1{
    font-size: 3.125em;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 1.875em;
}
h4{
    font-size: 1.25em;
}
p{
    color: rgb(138, 111, 84);
    font-size: 1.2em;
    line-height: 1.3em;
}
nav{
    background-color: rgb(104, 104, 79);
}
    nav ul{
        list-style: none;
        /*display*/
        display: inline-block;
        margin-left: 20px;
    }
    nav ul li{
        display: inline-block;
        margin-right: 10px;
    }
        nav ul li a{
            color:rgb(71, 25, 25);
            text-decoration:line;    
        }
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.bg-grises{
    background-color: rgb(116, 116, 18);
}
.bg-pattern{
    background-image: url(../img/backgroud2.jpg);
    background-repeat: repeat;
    background-attachment: scroll;
}
.contenedor{
    width: 50%;
    height: auto;
    background-color: aliceblue;
    margin: 20px;
    padding: 5px 10px;
    border: dotted 2px cornflowerblue;
}
footer svg{
   fill: rgb(91, 72, 46);
   margin-right: 0px;
}
footer a{
    text-decoration: none;
}
