h1,h2{
    color:$maincolor;
    font-family: $mainFont;
    font-weight: $h1h2Peso;
}
/*selector de grupo*/
h3,h4{
    color: $maincolor ;
    font-family:$mainFont;
    font-weight: $h3h4Peso;
}
h1{
    font-size: $textLg;
}
h2{
    font-size: $textMd;
}
h3{
    font-size: $textMd;
}
h4{
    font-size: $textSm;
}
p{
    color: $colorsecundario;
    font-size: $textParrafo;
    line-height: $textHeingtP;
}
.bg-pattern{
    background-image: url(../img/backgroud2.jpg);
    background-repeat: repeat;
    background-attachment: scroll;
}
.container{
    
    height: auto;
    background-color: aliceblue;
    
    overflow-y: auto;
    border: dotted 2px cornflowerblue;
    }
footer svg{
    fill: rgb(91, 72, 46);
   margin-right: 0px;
}
footer a{
    text-decoration: none;
}

header{
    section{
        p{
            @include textos(1.2em, 1.6em, rgb(91, 72, 46))
        }
    
            }
    }

main{
    section{
        p{
            @include textos(1.2em, 1.6em, black)
        }
    }
}
    
