// variables globales

//colores
$maincolor:rgb(48, 80, 80);
$colorsecundario:rgb(38, 36, 34);
$colornav:rgb(104, 104, 79);
$colorbg:rgb(104, 104, 79);
$colorletrasnav:rgb(71, 25, 25);
$colorfooters:rgb(91, 72, 46);

// peso de fuestes
$h1h2Peso:500;
$h3h4Peso:400;

//fonts
$mainFont:'Oswald', sans-serif;
$textSm: 1.25em;
$textMd: 2.5em;
$textLg: 3.125em;
$textParrafo: 1.2em;
$textLinght: 300;
$textHeingtP:1.3em;

//margenesnav
$marginleftNav:20px;
$marginrigthNav:10px;

